body, html {
    background: #fff;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
                    
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.color-primary-0 { color: #7C8DB3 }
.color-primary-1 { color: #C4CDDF }
.color-primary-2 { color: #A0AECB }
.color-primary-3 { color: #5D729E }
.color-primary-4 { color: #42598A }

#topbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

#topbar div.a {
    /*background: #4063AD;*/
    /*background: #5D729E;*/
    background: #A1B6E2;
    height: 5px;
}

#topbar div.b {
    /*background: #85A1DC;*/
    /*background: #A0AECB;*/
    background: #CFDCF5;
    height: 4px;
}

#topbar div.c {
    /*background: #B5C8F0;*/
    /*background: #C4CDDF;*/
    background: #E5ECFB;
    height: 3px;
}

#wrap {
    width: 960px;
    font-family: "Droid Serif", serif;
    font-weight: 400;
    margin: 5px;
}


#header {
    padding: 15px;
    padding-top: 20px;
    border-bottom: 1px dotted #d3d3d3;
}

#header h1 {
    font-family: "Racing Sans One", sans-serif;
    text-shadow: 1px 1px 0px #C4CDDF;
    color: #42598A;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
}

#header h2 {
    font-weight: 400;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    color: #686F7E;
}

#social {
    padding: 15px;
    padding-top: 76px;
    position: absolute;
    top: 5px;
    left: 828px;
    overflow: auto;
    white-space: nowrap;
}

#social span.symbol {
    font-size: 36px;
    margin-left: 3px;
}

#social a:link {
    text-decoration: none;
    color: #42598A
}

a:visited {
    text-decoration: none;
    color: #42598A
}

a:hover {
    text-decoration: underline;
    color: #42598A
}

a:active {
    text-decoration: underline;
    color: #42598A
}

#main {
    float: right;
    width: 649px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 170%;
    border-left: 1px dotted #d3d3d3;
    text-align: justify;
    min-height: 640px;
}

#main p em {
    font-family: "Droid Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    /*    background: #E9F0FF;*/
    /*background: #FFF3DD;*/
    /*color: #55458E;*/
    /*color: #817255;*/
}

#main .highlight {
    background: #FFF6E6;
    color: #585143;
}

#main p.aside {
    margin-top: 0;
    padding-top: 0;
    line-height: 100%;
}

#main p.aside em {
    background: none;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#main h1 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    text-align: left;
}

#main h2 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    text-align: left;
}

#main h3 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    text-align: left;
}

#main h4 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    text-align: left;
}

footer {
    clear: both;
    font-weight: 400;
    font-size: 12px;
    color: #585143;
    text-align: center;
    padding-top: 50px;
}

#sidebar {
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    float: left;
    width: 240px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 100%;
}

#sidebar aside ol {
    list-style-type: none;
    line-height: 200%;
    border: 0;
    padding: 0;
}

#sidebar h2 {
    text-transform: uppercase;
}

#sidebar nav {
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#sidebar nav ol {
    list-style-type: none;
    border: 0;
    padding: 0;
}

.headshot {
    float: left;
    margin-right: 10px;
}

#welcome {
    clear: both;
    padding: 15px;
    border-bottom: 1px dotted #d3d3d3;
    text-align: center;
}

#changelog {
    float: right;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 170%;
}

#changelog ol {
    list-style-type: none;
    line-height: 200%;
    border: 0;
    padding: 0;
}

#changelog div {
    margin: 0;
    padding: 0;
}

#recentblog {
    float: left;
    width: 449px;
    border-right: 1px dotted #d3d3d3;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 170%;
}

#recentblog ol {
    list-style-type: none;
    line-height: 200%;
    border: 0;
    padding: 0;
}

.left {
    float: left;
    width: 23%;
}

.right {
    float: right;
    width: 77%;
}

div.homesummary h1 {
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

#welcome ol {
    list-style-type: none;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#welcome h1 {
    display: inline;
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    line-height: 0;
    padding: 0;
    margin: 0;
}

#welcome li {
    display: inline;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

#welcome nav {
    padding: 0;
    margin: 0;
}
