<div id="header">
    <h1>Fixed in the Next Release</h1>

    <h2>The personal site of <%= data.me.name %></h2>
</div>

<div id="social">
    <% link_to "contact.html", :title => "Contact Me" do %>
        <span class='symbol'>email</span>
    <% end %>
    <% link_to data.me.linkedin, :title => data.me.name + " on LinkedIn" do %>
        <span class='symbol'>linkedin</span>
    <% end %>
    <% link_to data.me.twitter, :title => data.me.name + " on Twitter" do %>
        <span class='symbol'>twitterbird</span>
    <% end %>
</div>
