<div id="header">
    <h1>Fixed in the Next Release</h1>
    <h2>The personal site of Louis R. Marascio</h2>
</div>

<div id="social">
    <a href="/contact.html" title="Contact Me"><span class='symbol'>circleemail</span></a>
    <a href="http://www.linkedin.com" title="Connect on LinkedIn"><span class='symbol'>circlelinkedin</span></a>
    <a href="http://www.twitter.com/marascio" title="Connect on Twitter"><span class='symbol'>circletwitterbird</span></a>
</div>
