<nav>
<ol>
    <li><h1><a href="/" title="Fixed in the Next Release">Home</a></h1></li>
    <li><h1><a href="/about.html" title="About Louis R. Marascio">About</a></h1></li>
    <li><h1><a href="/contact.html" title="Contact Louis R. Marascio">Contact</a></h1></li>
</ol>
</nav>
